<div class="block main-background">
  <h2 class="text-center">My name is Hugo Abreu 😀</h2>
  <div class="text-block">
    <p>I am a MSc graduate (GPA 3.3) with 6 years of experience in the Tech Industry in 8 different countries across Europe, Middle East and Asia. I spent my career working as Project Manager and Product Manager always with multicultural teams.</p>
    <p>I am currently working as Project Manager in a big Portuguese digital agency named ALTA Digital.</p>
    <p>I am always ready to embrace new challenges as Freelance Frontend Developer (Junior level). I work with HTML, ERB, SCSS and JavaScript. In the near future, I'll be also working with React.</p>
  </div>
</div>
