<div class="block main-background">
  <h2 class="text-center">Thank you for reaching out 😀</h2>
  <div class="text-block">
    <p>I am a MSc graduate (GPA 3.3) with 6 years of experience in the Tech Industry in 8 different countries across Europe, Middle East and Asia. I spent my career working in Product Management and in Marketing, always with multicultural teams.</p>
    <p>I finished a full stack coding bootcamp at Le Wagon Tokyo in November 2018, and I am now looking for a new opportunity as Product Manager.</p>
    <p>I am always ready to embrace new challenges as:</p>
    <ul>
      <li>- Product Manager (with 6+ years of experience)</li>
      <li>- Freelance frontend Developer (Junior level)</li>
    </ul>
  </div>
</div>
