<div class="block secondary-background">
  <h2 class="text-center">Main achievements</h2>
  <div class="container my-container">
    <div class="row">

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          Work experience in 8 countries
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          Opened an office in Malaysia
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          Coding bootcamp in Japan
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          Experience developing projects from scratch
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          Always worked in multicultural teams
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          Learning frontend development
        </div>
      </div>
    </div>
  </div>
</div>
