<div class="block secondary-background">
  <h2 class="text-center">Main achievements</h2>
  <div class="container my-container small-padding-block">
    <div class="row">

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          <div class="box3d text-after">
            Portugal, Spain, UK, Romania, Malaysia, Dubai, Qatar and Japan
          </div>
          <div class="box3d text-before">
            Work experience in 8 countries
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          <div class="box3d text-after">
            The first OLAmobile office in Asia (2018)
          </div>
          <div class="box3d text-before">
            Opened an office in Malaysia
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          <div class="box3d text-after">
            Full stack Ruby on Rails coding bootcamp at Le Wagon Tokyo
          </div>
          <div class="box3d text-before">
            Coding bootcamp in Japan
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          <div class="box3d text-after">
            Web Applications, Native Apps and Social Media pages
          </div>
          <div class="box3d text-before">
            Experience developing projects from scratch
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          <div class="box3d text-after">
            Used to use English as business language since 2011
          </div>
          <div class="box3d text-before">
            Always worked in multicultural teams
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-center">
        <div class="achievement-circle">
          <div class="box3d text-after">
            Doing websites like this 😁
          </div>
          <div class="box3d text-before">
            Learning frontend development
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
