<div class="banner hidden-xs hidden-sm" style="background-image: linear-gradient( rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url( 'https://res.cloudinary.com/dsbz0g917/image/upload/v1545023018/Banner.jpg' );">
  <div class="banner-content">
    <h1>Hi, I am Hugo!</h1>
    <h2>Product Manager and aspirant Frontend Developer</h2>
    <div class="mouse">
      <div class="scroll">
      </div>
    </div>
  </div>
</div>

<div class="banner hidden-md hidden-lg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%), url( 'https://res.cloudinary.com/dsbz0g917/image/upload/v1545023071/Mobile_Banner.jpg' );">
  <div class="banner-content">
    <h1>Hi, I am Hugo!</h1>
    <h2>Product Manager and aspirant Frontend Developer</h2>
    <div class="mouse">
      <div class="scroll">
      </div>
    </div>
  </div>
</div>
