<div class="my-contacts">
  <a href="https://www.linkedin.com/in/hugoabreu7" target="_blank"><i class="fab fa-linkedin fa-5x icon"></i></a>
  <a href="mailto:hugoabreu90@gmail.com?Subject=Hello" target="_top"><i class="fas fa-paper-plane fa-5x icon"></i></a>
</div>
