<div class="block main-background">
  <h2 class="text-center">Contacts</h2>

  <div class="col-xs-6 text-center">
    <img src="#" alt="#">
    <p>LinkedIn</p>
  </div>

  <div class="col-xs-6 text-center">
    <img src="#" alt="#">
    <p>GitHub</p>
  </div>
</div>
