<div class="block main-background" id="contacts">
  <h2 class="text-center">Contacts</h2>
  <div class="container my-container">
    <div class="row">

      <div class="col-xs-6 text-center">
        <a href="https://www.linkedin.com/in/hugoabreu7/" target="_blank"><%= image_tag "Linkedin.png", alt: "LinkedIn", class: "contacts-icon" %></a>
        <p>LinkedIn</p>
      </div>

      <div class="col-xs-6 text-center">
        <a href="https://github.com/hugoabreu7" target="_blank"><%= image_tag "Github.png", alt: "GitHub", class: "contacts-icon" %></a>
        <p>GitHub</p>
      </div>
    </div>
  </div>
</div>
