<!-- Bachelor -->
<div class="modal fade" id="Bachelor" tabindex="-1" role="dialog" aria-labelledby="Bachelor">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title black-text" id="Bachelor">BSc in Marketing Management - ISCTE Business School</h4>
      </div>
      <div class="modal-body">
        <p class="black-text">- Final Grade: 14 out of 20 (GPA 2.8) | Final Project Grade: 18 out of 20 (GPA 3.6)</p>
        <p class="black-text">- Summer School at Czech University of Live Sciences in Prague, Czech Republic, for four weeks</p>
        <p class="black-text">- Lotaçor University Challenge 2011 - National Finalist</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Master -->
<div class="modal fade" id="Master" tabindex="-1" role="dialog" aria-labelledby="Master">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title black-text" id="Master">MSc in Marketing - ISCTE Business School</h4>
      </div>
      <div class="modal-body">
        <p class="black-text">- Final Grade: 16,3 out of 20 (GPA 3.3) | Dissertation Grade: 19 out of 20 (GPA 3.8)</p>
        <p class="black-text">- International Experience at EAE Business School in Barcelona, Spain, for one week</p>
        <p class="black-text">- Primus Inter Pares Prize 2013 - National Semi Finalist</p>
        <p class="black-text">- L’Oréal Brandstorm 2012 - National Finalist</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- TIMWE -->
<div class="modal fade" id="TIMWE" tabindex="-1" role="dialog" aria-labelledby="TIMWE">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title black-text" id="TIMWE">Marketing Executive - TIMWE</h4>
      </div>
      <div class="modal-body">
        <p class="black-text">- Implementation of projects related to Mobile Web Services in more than 40 countries remotely from Lisbon, with three different experiences abroad in Doha, in Dubai and in Kuala Lumpur</p>
        <p class="black-text">- Product Manager and worldwide main responsible for new improvements on NeoPIM, a company software able to build Mobile Web sites without programming skills required</p>
        <p class="black-text">- Responsible for Innovation and New Product Development on the Mobile Web Business Unit. Achieved to create a new business unit and a new product for the company</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- OLAmobile -->
<div class="modal fade" id="OLAmobile" tabindex="-1" role="dialog" aria-labelledby="OLAmobile">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title black-text" id="OLAmobile">Product & Innovation Manager - OLAmobile</h4>
      </div>
      <div class="modal-body">
        <p class="black-text">- Responsible for the ongoing management of the platform, that includes: Internal Training, New Features Development, Design & Technical Briefings, Agile Management and Competitor Analysis</p>
        <p class="black-text">- Responsible for the full rebranding of the platform in 2017 with the inclusion of innovative features on the affiliate marketing industry. Achieved to increase the revenues in 20% on the first 2 weeks after launch</p>
        <p class="black-text">- Member of the team responsible to open the first company office in Asia. Developed training sessions and working processes for the colleagues of Mobidea and IconPeak</p>
        <p class="black-text">- Responsible for the development of the complementary products for the company: Mobile Apps and Skype Bots</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Le Wagon -->
<div class="modal fade" id="LeWagon" tabindex="-1" role="dialog" aria-labelledby="LeWagon">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title black-text" id="LeWagon">Full Stack coding bootcamp at Le Wagon Tokyo</h4>
      </div>
      <div class="modal-body">
        <p class="black-text">- Object Oriented Programming with Ruby</p>
        <p class="black-text">- Website and API development with Ruby on Rails</p>
        <p class="black-text">- Design and layout with HTML5, CSS3, JavaScript (jQuery, AJAX)</p>
        <p class="black-text">- Database management with SQLite and PostgreSQL</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ALTA -->
<div class="modal fade" id="ALTA" tabindex="-1" role="dialog" aria-labelledby="ALTA">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title black-text" id="ALTA">IT Project Manager - ALTA Digital</h4>
      </div>
      <div class="modal-body">
        <p class="black-text">- Developed from scratch methodologies to organise and manage the work of ALTA’s technical team: Project Priorities, Team Deadlines, KPI Analysis and Client Management Guidelines</p>
        <p class="black-text">- Optimised every client’s satisfaction with constant feedback, expectation management and data reports</p>
        <p class="black-text">- Guaranteed the team satisfaction with regular retrospective meetings, constant transparency and deadlines management</p>
        <p class="black-text">- Usage of Agile Methodologies (Sprint and Kanban) and JIRA as Project Management software</p>
        <p class="black-text">- Become the main point of contact of ALTA with clients from the Portuguese private and public sector</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
