<div class="block secondary-background">
  <h2 class="text-center">Hobbies</h2>

  <div class="container my-container">
    <div class="row">

      <div class="col-xs-6 text-center">
        <a href="https://www.instagram.com/hugoabreu7/" target="_blank"><%= image_tag "Instagram.png", alt: "Instagram", class: "contacts-icon" %></a>
        <p>Photography</p>
       </div>

       <div class="col-xs-6 text-center">
        <a href="#" target="_blank"><%= image_tag "Youtube.png", alt: "Youtube", class: "contacts-icon" %></a>
        <p>Music (coming soon 🙂)</p>
      </div>
    </div>
  </div>

</div>
