<div class="block secondary-background">
  <h2 class="text-center">Hobbies</h2>
  <div class="container medium-padding-block">
    <div class="row">
      <div class="col-xs-12 col-sm-4">

        <div class="one-card" style="border-radius: 2px; background-image: url('http://www.aseaniapulaubesar.com/img/photo/beach-aseania-resort-pulau-besar.jpg');">
        </div>
        <h4 class="card-description text-center">
          Photography
        </h4>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="one-card" style="border-radius: 2px; background-image: url('http://www.aseaniapulaubesar.com/img/photo/beach-aseania-resort-pulau-besar.jpg');">
        </div>
        <h4 class="card-description text-center">
          Music
        </h4>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="one-card" style="border-radius: 2px; background-image: url('http://www.aseaniapulaubesar.com/img/photo/beach-aseania-resort-pulau-besar.jpg');">
        </div>
        <h4 class="card-description text-center">
          Sports
        </h4>
      </div>
    </div>
  </div>
</div>
