<div class="block main-background">
  <h2 class="text-center">Spoken Languages</h2>
  <div class="container my-container">
    <div class="row">

      <div class="col-xs-6 col-sm-3 text-center">
        <%= image_tag "Portugal.png", class: "language-flag", alt: "Portuguese language" %>
        <p class="language-description">Portuguese</p>
        <p class="language-description">Native (C2)</p>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <%= image_tag "UK.png", class: "language-flag", alt: "English language" %>
        <p class="language-description">English</p>
        <p class="language-description">Proficient (C2)</p>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <%= image_tag "Spain.png", class: "language-flag language-flag-line-2", alt: "Spanish language" %>
        <p class="language-description">Spanish</p>
        <p class="language-description">Intermediate (B2)<p>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <%= image_tag "Japan.png", class: "language-flag language-flag-line-2", alt: "Japanese language" %>
        <p class="language-description">Japanese</p>
        <p class="language-description">Elementary (A2)</p>
      </div>
    </div>
  </div>
  <div class="mobile-whitespace"></div>
</div>
