<div class="block main-background">
  <h2 class="text-center">Spoken Languages</h2>
  <div class="container my-container">
    <div class="row">

      <div class="col-xs-6 text-center">
        <img src="#" alt="#">
        <p>Language name</p>
      </div>

      <div class="col-xs-6 text-center">
        <img src="#" alt="#">
        <p>Language name</p>
      </div>

      <div class="col-xs-6 text-center">
        <img src="#" alt="#">
        <p>Language name</p>
      </div>

      <div class="col-xs-6 text-center">
        <img src="#" alt="#">
        <p>Language name</p>
      </div>
    </div>
  </div>
</div>
