<div class="flexbox-end navbar-fixed-top navbar hidden-xs hidden-sm">
  <a href="#contacts" class="nav-bar-button">Contact me!</a>
</div>

<div class="flexbox-end hidden-md hidden-lg">
  <a href="#contacts" class="nav-bar-button">Contact me!</a>
</div>
