<div class="block main-background">
  <h2 class="text-center">Frontend projects</h2>
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="margin-top">
          <span class="side-project-icon">R</span><span class="side-project-rest">eserveMe.tokyo</span>
        </div>
        <p class="project-description text-justify margin-right">An API to manage restaurant bookings in Japan: a working solution to connect Japanese restaurants with foreign customers who don't speak Japanese (Developed in Le Wagon Tokyo)</p>
        <div class="flexbox-end">
          <a href="https://reserveme.tokyo" class="cta-button margin-right" target="_blank">More info</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="margin-top">
          <span class="side-project-icon">Y</span><span class="side-project-rest">our Project 🙂</span>
        </div>
        <p class="project-description text-justify margin-right">I am always interested in helping someone in need. If you think I can help you to achieve the website of your dreams, just drop me a message. I hope I can help!</p>
        <div class="flexbox-end">
          <a href="#contacts" class="cta-button margin-right">Ask me!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-whitespace"></div>
</div>
