<div class="block main-background">
  <h2 class="text-center">Side projects</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">

        <div class="one-card" style="border-radius: 2px; background-image: url('http://www.aseaniapulaubesar.com/img/photo/beach-aseania-resort-pulau-besar.jpg');">
          <div class="card-overlay">
            <div class="slide-text">Name here</div>
          </div>
        </div>
        <h4 class="card-description text-center">
          A
        </h4>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="one-card" style="border-radius: 2px; background-image: url('http://www.aseaniapulaubesar.com/img/photo/beach-aseania-resort-pulau-besar.jpg');">
            <div class="card-overlay">
              <div class="slide-text">Name here</div>
            </div>
        </div>
        <h4 class="card-description text-center">
          B
        </h4>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="one-card" style="border-radius: 2px; background-image: url('http://www.aseaniapulaubesar.com/img/photo/beach-aseania-resort-pulau-besar.jpg');">
          <div class="card-overlay">
            <div class="slide-text">Name here</div>
          </div>
        </div>
        <h4 class="card-description text-center">
          C
        </h4>
      </div>
    </div>
  </div>
</div>
