<div class="big-block">

  <h2 class="text-center">My Experience</h2>
  <div class="circles">
    <div class="subtitles">
      <div class="main-circle"></div>
      <p class="circle-description">Education</p>
    </div>
      <div class="subtitles">
      <div class="second-circle"></div>
      <p class="circle-description">Work</p>
    </div>
    <p class="text-center black-text desktop">Click on each one of them to get more information</p>
  </div>

  <section class="timeline desktop">
    <ul>
      <li class="education-list">
        <div class="education" data-toggle="modal" data-target="#Bachelor">
          <time>September 2008 - June 2011</time> BSc in Marketing Management - ISCTE Business School
        </div>
      </li>
          <li class="education-list">
        <div class="education" data-toggle="modal" data-target="#Master">
          <time>September 2011 - June 2013</time> MSc in Marketing - ISCTE Business School
        </div>
      </li>
     <li class="work-list">
        <div class="work" data-toggle="modal" data-target="#TIMWE">
          <time>October 2012 - July 2014</time>Marketing Executive - TIMWE
        </div>
      </li>
      <li class="work-list">
        <div class="work" data-toggle="modal" data-target="#OLAmobile">
          <time>July 2014 - August 2018</time>Product & Innovation Manager - OLAmobile
        </div>
      </li>
      <li class="education-list">
        <div class="education" data-toggle="modal" data-target="#LeWagon">
          <time>October 2018 - November 2018</time>Full Stack Coding Bootcamp - Le Wagon Tokyo
        </div>
      </li>
      <li class="work-list">
        <div class="work">
          <time>Now</time>Maybe you 😄
        </div>
      </li>
    </ul>
  </section>

  <section class="timeline mobile">
    <ul>
      <li class="education-list">
        <div class="education">
          <time>September 2008 - June 2011</time> BSc in Marketing Management - ISCTE Business School
        </div>
      </li>
          <li class="education-list">
        <div class="education">
          <time>September 2011 - June 2013</time> MSc in Marketing - ISCTE Business School
        </div>
      </li>
     <li class="work-list">
        <div class="work">
          <time>October 2012 - July 2014</time>Marketing Executive - TIMWE
        </div>
      </li>
      <li class="work-list">
        <div class="work">
          <time>July 2014 - August 2018</time>Product & Innovation Manager - OLAmobile
        </div>
      </li>
      <li class="education-list">
        <div class="education">
          <time>October 2018 - November 2018</time>Full Stack Coding Bootcamp - Le Wagon Tokyo
        </div>
      </li>
      <li class="work-list">
        <div class="work">
          <time>Now</time>Maybe you 😄
        </div>
      </li>
    </ul>
  </section>

</div>
<%= partial 'layouts/experience_modals' %>
