<div class="block">
  <div class="job">
    <span class="company">Le Wagon Tokyo</span>
    <span>-</span>
    <span class="role">Full Stack Coding Bootcamp</span>
    <h3 class="date">October-November 2019</h3>

    <p class="bulletpoints">Full Stack Coding Bootcamp taken place in Tokyo, Japan</p>
    <p class="bulletpoints">Object Oriented Programming with Ruby and Website Development with Ruby on Rails</p>
    <p class="bulletpoints">Final Project: "Reserve Me . Tokyo" - A phone call based reservation system for local restaurants in Japan. With this project, we were able to develop a solution that enables offline restaurants to accept reservations from non-native Japanese speakers without any technical integration needed</p>
    <p class="bulletpoints">Lived in Japan for 3 months</p>

  </div>

  <p class="line-break margin-top-50"></p>

</div>

<div class="secondary-block">
  <div class="job">
    <span class="company">OLAmobile Malaysia</span>
    <span>-</span>
    <span class="role">Opened OLAmobile Malaysia Office</span>
    <h3 class="date">March-May 2019</h3>

    <p class="bulletpoints">Responsible to open the first OLAmobile office in Asia</p>
    <p class="bulletpoints">Lived in Malaysia for 3 months to guide the local team on their first months at the company</p>

  </div>

  <p class="line-break margin-top-50"></p>

</div>

<div class="secondary-block">
  <div class="job">
    <span class="company">TIMWE</span>
    <span>-</span>
    <span class="role">Work Experience in Asia</span>
    <h3 class="date">October - December 2013</h3>

    <p class="bulletpoints before-bulletpoints">Work Experience abroad in:</p>
    <p class="small-bulletpoints">- Celcom Malaysia (At Kuala Lumpur office) for one month</p>
    <p class="small-bulletpoints">- Ooredoo Qatar (At Doha office) for one month</p>
  </div>
</div>
