<div class="block">
  <div class="job">
    <span class="company">Le Wagon Tokyo</span>
    <span>-</span>
    <span class="role">Full Stack Coding Bootcamp</span>
    <h3 class="date">October-November 2019</h3>

    <p class="bulletpoints">A</p>
    <p class="bulletpoints">B</p>
    <p class="bulletpoints">C</p>

  </div>

  <p class="line-break margin-top-50"></p>

</div>
