<div class="block">
  <p>MSc graduate (GPA 3.3) with more than 7 years of experience in 8 different countries across Europe, Middle East and Asia. I spent my career working as Product Manager and Project Manager, always on the Technology Industry and with multicultural teams.</p>
  <p>Actually I am the IT Project Manager at ALTA Digital, a Portuguese Digital Agency who works with top tier Portuguese companies. </p>

  <div class="blank"></div>
  <p class="line-break"></p>
  <div class="blank"></div>

  <p class="margin-top-10">I also have a full stack coding bootcamp taken at Le Wagon Tokyo in November 2018 in order to get technical skills to continue my career as Technical Product Manager or Project Manager.</p>
</div>
