.cta-button {
  color: white;
  padding: 8px 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 0px;
  }

  &:hover {
    text-decoration: none;
    color: white;
    border: 2px solid $secondary;
    background: $secondary;
  }
}

.nav-bar-button {
  color: white;
  padding: 8px 20px;
  margin: 18px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    color: white;
    border: 2px solid $secondary;
    background: $secondary;
  }
}

.nav-bar-button-colored {
  color: white;
  padding: 8px 20px;
  margin: 18px;
  background: $main;
  border: 2px solid $main;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.6s ease;

  &:hover {
    text-decoration: none;
    color: white;
    border: 2px solid $secondary;
    background: $secondary;
  }
}