.main-circle {
  width: 24px;
  height: 24px;
  background-color: $main;
  border-radius: 50%;
  margin-right: 10px;
}

.second-circle {
  width: 24px;
  height: 24px;
  background-color: $secondary;
  border-radius: 50%;
  margin-right: 10px;
}

.circle-description {
  color: $my-black;
}

.achievement-circle {
  width: 120px;
  height: 120px;
  background-color: $main;
  border-radius: 50%;
  margin: 10px auto;
  color: white;
  transition: all 1s ease;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
  position:relative;
  overflow:hidden;
    @media only screen and (min-width: 768px) {
    width: 170px;
    height: 170px;
    margin: 10px auto 24px auto;
  }
  div {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
    @media only screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.box3d {
   width: 100%;
   height:120px;
  border-radius: 50%;
  position:absolute;
  top: 0px;
  left: 0px;
  transition: all 1s;
-webkit-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -moz-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -o-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
      @media only screen and (min-width: 768px) {
    height: 170px;
  }
}

.box3d:first-child {
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
}

.achievement-circle:hover .box3d{
    transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.achievement-circle:hover .box3d:first-child{
   z-index:1;
   transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg); /* Safari and Chrome */
  -moz-transform: rotateY(0deg);
}

.language-flag {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  @media only screen and (min-width: 768px) {
    margin-top: 10vh;
    width: 160px;
    height: 160px;
  }
    &:hover {
    animation: flash 1s;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


