.block .secondary-block {
  background: white;
  width:820px;
  margin:0 auto;
  text-align:justify;
}

.block {
  padding: 60px;
}

 .secondary-block {
  padding: 0px 60px 60px 60px;
}

.line-break {
  border-bottom:1px solid black;
  width: 150px;
  margin:0 auto;
}

.blank {
  height: 20px;
  background: #fff;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-50 {
  margin-top: 50px;
}

.parallax {
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-contacts {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 0px 80px;
}

