@media screen and (max-width: 959px) and (min-width: 768px) {
   .block, {padding: 60px 40px; width:620px;}
   .secondary-block {padding: 0px 40px 40px 40px; width:620px;}
   .icon {padding: 0px 60px;}
}

@media screen and (max-width: 767px) {
  .block {padding: 30px; width:420px;}
  .secondary-block {padding: 0px 30px 30px 30px; width:420px;}
    h2 {font-size:30px;}
  .parallax-me, .parallax-work, .parallax-milestones {
    padding-top:100px;
    padding-bottom:100px;
    .icon {padding: 0px 40px;}
  }
}

@media screen and (max-width: 479px) {
   .block, .secondary-block {padding: 30px 15px; width:290px;}
   .icon {padding: 0px 40px;}
}
