
h1 h2 h3 {
  font-family: $headers-font;
}

h1 {
  font-size:24px;
  font-weight:400;
  text-transform: uppercase;
  color: $my-black;
  padding:0;
  margin:0;
}

h2 {
  font-size:90px;
  letter-spacing:10px;
  text-align:center;
  color:white;
  font-weight:200;
  text-transform:uppercase;
  z-index:1;
  opacity:.9;
}

h3 {font-size:20px;
  font-weight:400;
  text-transform: uppercase;
  color: $my-black;
}

p {
  font-family: $body-font;
  font-weight:400;
  font-size:14px;
  line-height:24px;
}
span {

}

.small-bulletpoints {
  padding-left: 8px;
  font-size: 12px;
  margin-bottom: 0px;
}

.before-bulletpoints {margin-bottom: 6px;}

.title {
  background: white;
  padding: 60px;
  margin: auto;
  text-align:center;
  height: 100vh;

    h1 {font-size:54px; letter-spacing:8px; margin-top: 2vh;}
    h3 {font-size: 20px; margin-top: 38vh;}
    p {font-size: 12px; margin-top: 32vh;}
}

.company .date .role {
  line-height:0;
  font-weight:400;
  letter-spacing:2px;
  text-transform: uppercase;
  color: $my-black;
}

.company {
  font-size:18px;
  padding-right: 2px;
}

.date {
  font-size:12px;
  opacity: 0.7;
  margin: 12px 0px 32px 0px;
}

.role {
  font-size:18px;
  opacity: 0.7;
  padding-left: 2px;
}

