<div id="main-div">

<section>
  <div class="title fade-in">
    <h3>Hello, my name is</h3>
    <h1>Hugo Abreu</h1>
    <p>Keep scrolling :)</p>
  </div>
</section>

<section>
    <div class="parallax-me">
      <h2>Who I am</h2>
    </div>
</section>

<section>
  <div class="block">
    <p>MSc graduate (GPA 3.3) with more than 7 years of experience in 8 different countries across Europe, Middle East and Asia. I spent my career working as Product Manager and Project Manager, always on the Technology Industry and with multicultural teams.</p>
    <p>Actually I am the IT Project Manager at ALTA Digital, a Portuguese Digital Agency who works with top tier Portuguese companies. </p>
    <div class="blank"></div>
    <p class="line-break"></p>
    <div class="blank"></div>
    <p class="margin-top-10">I also have a full stack coding bootcamp taken at Le Wagon Tokyo in November 2018 in order to get technical skills to continue my career as Technical Product Manager or Project Manager.</p>
  </div>
</section>

<section>
  <div class="parallax-work">
    <h2>Where I worked</h2>
  </div>
</section>

<section>
  <div class="block">
    <div class="job">
      <span class="company">ALTA Digital</span>
      <span>-</span>
      <span class="role"> IT Project Manager</span>
      <h3 class="date">January 2019 - Present</h3>

      <p class="bulletpoints">Developed agile methodologies from scratch to organise and manage the work of ALTA’s development team: Project Priorities, Team Deadlines, KPI Analysis and Client Management Guidelines </p>
      <p class="bulletpoints">Optimised every client’s satisfaction by providing constant feedback, expectation management and insightful data reports </p>
      <p class="bulletpoints">Guaranteed the team satisfaction with regular retrospective meetings, constant transparency and deadlines management</p>
      <p class="bulletpoints">Usage of Agile Methodologies (Sprint and Kanban) and JIRA as Project Management software</p>
      <p class="bulletpoints">Main point of contact of ALTA for operational and financial subjects with more than twenty clients</p>

    </div>
    <p class="line-break margin-top-50"></p>
  </div>
</section>

<section>
  <div class="secondary-block">
    <div class="job">
      <span class="company">OLAmobile</span>
      <span>-</span>
      <span class="role">Product & Innovation Manager</span>
      <h3 class="date">JULY 2014 - AUGUST 2018</h3>

      <p class="bulletpoints">2 rebrandings of Mobidea in 4 years</p>
      <p class="bulletpoints">Member of the team responsible to open the first office in Asia (In Kuala Lumpur, Malaysia)</p>
      <p class="bulletpoints">Development of the Product Roadmap and Technical Requirements, and responsible for all Trainings of the Sales Team</p>
      <p class="bulletpoints">Responsible for the development of complementary products for the company: Mobile Apps and Skype Bots</p>
    </div>
    <p class="line-break margin-top-50"></p>
  </div>
</section>

<section>
  <div class="secondary-block">
    <div class="job">
      <span class="company">TIMWE</span>
      <span>-</span>
      <span class="role">Marketing Executive</span>
      <h3 class="date">OCTOBER 2012 - JULY 2014</h3>

      <p class="bulletpoints">Design and develop websites for Mobile Operators from all around the world, and develop their promotion marketing strategies</p>
      <p class="bulletpoints">Main projects:</p>
      <ul>
        <li>The Cube - Celcom Malaysia (At Kuala Lumpur office)</li>
        <li>Ooredoo Qatar Entertainment Portal (At Doha office)</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="parallax-milestones">
    <h2>What I also did</h2>
  </div>
</section>

<section>
  <div class="block">
    <p>A</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">B</p>
  </div>
</section>

<section>
  <div class="parallax-contacts">
    <h2>How to get in touch</h2>
  </div>
</section>

<section>
  <div class="my-contacts">
    <p>Linkedin</p>
  </div>
</section>

</div>
